<!-- Validation failure messages -->
<% if @movieso.errors.any? %>
  <% @movieso.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Movieso #<%= @movieso.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_movieso/<%= @movieso.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for source -->
      <div class="form-group">
        <label for="source" class="control-label">
          Source
        </label>

        <input type="text" id="source" name="source" placeholder="Source" class="form-control" value="<%= @movieso.source %>">
      </div>

      <!-- Label and input for caption -->
      <div class="form-group">
        <label for="caption" class="control-label">
          Caption
        </label>

        <textarea id="caption" name="caption" placeholder="Caption" class="form-control" rows="3"><%= @movieso.caption %></textarea>
      </div>

      <!-- Label and input for image_url -->
      <div class="form-group">
        <label for="image_url" class="control-label">
          Image url
        </label>

        <input type="text" id="image_url" name="image_url" placeholder="Image url" class="form-control" value="<%= @movieso.image_url %>">
      </div>

      <button class="btn btn-warning">
        Update Movieso
      </button>
      or
      <a href="/moviesos/<%= @movieso.id %>">Cancel</a>
    </form>
  </div>
</div>
